@font-face {
    font-family: pok;
    src: url(estetica/fontes/Pokemon_Classic.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: pix;
    src: url(estetica/fontes/Pixel_Digivolve.otf) format("truetype");
    font-weight: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    background: #2e004d;
    background-image: url(estetica/imagens/you-know-they-used-to-call-this-place-lavender-city-before-v0-b4wwiqwjrbf81.webp);
    background-blend-mode: overlay;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'pok', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: #2e004d;
    background-image: url(estetica/imagens/Picsart_24-03-05_14-01-49-859.jpg);
    background-blend-mode: overlay;
    background-repeat: repeat;
    background-attachment: fixed;
    border: 5px black solid;
    padding: 50px;
    width: 940px;
    max-width: 850px;
    margin-top: 160px;
    margin-bottom: 50px;
    border-radius: 20px;
    text-align: center;
}

h1, h2, h3, div, ul, a {
    color: white;
}

h1, h2, h3 {
    font-family: "pix", sans-serif;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

li {
    list-style: none;
}

.extra1 {
    z-index: -1;
    height: 300px;
    width: 500px;
    position: absolute;
    right: 500px;
    top: 0px;
    background-image: url(estetica/imagens/gengar-png-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
}

.extra2 {
    z-index: -1;
    height: 400px;
    width: 400px;
    position: absolute;
    left: 400px;
    top: 1650px;
    background-image: url(estetica/imagens/gastyle.png.png);
    background-repeat: no-repeat;
    background-position: center;
}

.extra3 {
    z-index: -1;
    height: 400px;
    width: 400px;
    position: absolute;
    right: 350px;
    top: 1650px;
    background-image: url(estetica/imagens/hunter.png.png);
    background-repeat: no-repeat;
    background-position: center;
}

.extra4 {
    z-index: 2;
    height: 800px;
    width: 400px;
    position: absolute;
    left: 600px;
    top: 3250px;
    background-image: url(estetica/imagens/gengar-fofo.png.png);
    background-repeat: no-repeat;
    background-position: center;
}

a:hover {
    color: #9F329E;
}