html {
    background: #838383;
    background-image: url(estetica/png-transparent-black-retro-patterns-background-black-retro-pattern-thumbnail.png);
    background-blend-mode: overlay;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: white;
    border: 5px black solid;
    width: 694px;
    max-width: 650px;
    margin-top: 160px;
    margin-bottom: 50px;
    border-radius: 20px;
    text-align: center;
}